MYSQL_HOST=pg-56818a-abushadhin0-63b3.l.aivencloud.com
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_iGqgUeDBj0wS8erv6Vm
MYSQL_DATABASE=defaultdb
NEXTAUTH_SECRET=SECRET
VIPRESELLER_APIKEY=vip-reseller.co.id
VIPRESELLER_APIID=vipreselapi
VIPRESELLER_APISIGN=apisign
MIDTRANS_SERVER_KEY=server key
MIDTRANS_CLIENT_KEY=client key midtrans
